{% extends 'base.html' %}
{%load static%}
{% block content %}

    <div class="container" id="container">
    </div>

    <div class="container" id="reviews-container">

        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h3> stars***  </h3>
                <p>2 days ago</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>

                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>

        </div>
    </div>


    <script src="{% static 'js/profi.js' %}"> </script>

{% endblock content %}