{% extends 'base.html' %}
{%load static%}
{% block content %}

    <main>
      <div id="search">
        <form class="search-container">
            <input id=searchInput placeholder="To do ..." autocomplete="off">
            <button id="searchButton">Find</button>
        </form>
        <div id="popup" class="popup" style="display: none;"></div>
      </div>

        <div id="results" class="row row-cols-1 row-cols-md-2 g-4">
        </div>

    </main>


   <script src="{% static 'js/main.js' %}"> </script>

{% endblock content %}