{%load static%}
    <nav class="navbar bg-primary-subtle" style="border-radius: 10px">
      <div class="container-fluid">

          <div class="nav-item navbar-brand">
          <label class="fs-6" for="regionInput">Your region</label>
          <select class="form-select d-inline" aria-label="Default select example" id="regionInput" >
          </select>
        </div>
               <img src="{% static 'logo.png' %}" alt="Logo" width="150" class="d-inline-block align-text-top">


        <div>
            {% if user.is_authenticated %}
          <span class="mx-2">Welcome, {{ user.username }}!</span>
          <a class="mx-2" href="#">Logout</a>

                {% else %}

          <a class="mx-2" href="#">Login</a>
          <a class="mx-2" href="#">Sign Up</a>



                {% endif %}


        </div>

      </div>
    </nav>